<!doctype html>
<html lang='en'>
<head>
	<title>Micro</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<form action="/put" method="POST">
				<div class="row">
					<div class="col-lg-6">
						<input class="form-control" type="text" name="url" placeholder="eg . htttps://google.com"/>
						<input class="btn btn-primary " type="submit" value ="Go" >
					<br/>
					</div>
				</div>
				{% if hashid %}
				<a class="btn btn-default" href="{{ hashid }}">{{myurl+hashid}}</a>
				<div class="col-lg-4">
					<img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{myurl+hashid}}" class="img-thumbnail">
				</div>
				{% endif %}
				
			</form>
		</div>
	</div>
</body>
</html>
